/* .charts{
    background-image: url('../../assets/images/classic.png');
} */
/* classicfg.component.css */
/* classicfg.component.css */
.charts {
    position: relative;
    width: 500px; /* Set the width as needed for your chart */
    height: 500px; /* Set the height as needed for your chart */
    background: transparent;
    padding-left: 150px;
    
  }
  
  /* Background image */
  .charts::before {
    content: "";
    background-image: url('../../assets/images/classic.png'); /* Replace with the actual path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%; /* Adjust the size as needed */
    height: 70%; /* Adjust the size as needed */
    opacity: 0.8; /* Adjust the opacity as needed */
    position: absolute;
    top: 0;
    left: 900px;
  
  }
  /* classicfg.component.css */

 
  