<!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>Rack 1</mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>Rack 2</mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>Rack 3</mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>Rack 4</mat-card-content>
          </mat-card>
    </mat-grid-tile>
</mat-grid-list> -->
<mat-grid-list cols="2" rowHeight="1.5:0.5" class="grid-list">
    <mat-grid-tile *ngFor="let rack of racks" class="grid-tile mat-elevation-z2" (click)="navigateToRackPage(rack.id)">
      <mat-card class="rack-card ">
        <mat-card-content>
          <h2>{{ rack.name }}</h2>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
