<div class="wrapper">
  <mat-toolbar class="header">
    <mat-toolbar-row>
      <a routerLink=""><img src="assets/images/page1.png" class="logo" ></a>
      <h1 class="heading">Forus Health</h1>
    </mat-toolbar-row>
  </mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="footer">
  <div class="footer-links">
    <a routerLink=""> Home Page</a>
    <a routerLink="rawmaterial">Raw Material</a>
    <a routerLink="finishedgoods">Finished Goods</a>
  </div>
</mat-toolbar>
</div>

    <!-- <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar> -->



